Repository elidholm/AoC-2024, changes with the labels that .github/labeler.yml gives for each.
All labels: README, License, Actions, Solution, Postmortem, LAnguages

.github/labeler.yml:

---
README:
  - changed-files:
      - any-glob-to-any-file: README.md

License:
  - changed-files:
      - any-glob-to-any-file: LICENSE

Actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

Solution:
  - changed-files:
      - any-glob-to-any-file: solutions/**/part*

Postmortem:
  - changed-files:
      - any-glob-to-any-file: solutions/**/README.md

LAnguages:
  - changed-files:
      - any-glob-to-any-file: languages.txt

feat: Add security scanning workflow
  .github/workflows/security.yml
Labels: Actions

feat: Add stale issue handler
  .github/workflows/stale.yml
Labels: Actions

feat: Add linter for Python
  .github/workflows/linting.yml
  pyproject.toml
Labels: Actions

fix: linting errors python
  pyproject.toml
  solutions/day07-python/part1_07.py
  solutions/day07-python/part2_07.py
  solutions/day08-python/part1_08.py
  solutions/day08-python/part2_08.py
Labels: Solution

feat: Add Ziglint for zig files
  .github/workflows/linting.yml
Labels: Actions

feat: Add Scalafmt for linting Scala
  .github/workflows/linting.yml
  .scalafmt.conf
Labels: Actions

feat: Add YAML-lint for YAML
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
Labels: Actions

fix: remove scalafmt temporarily until better solution
  .github/workflows/linting.yml
  .scalafmt.conf
Labels: Actions

feat: Add linter for Ruby
  .github/config/rubocop_linter_action.yml
  .github/workflows/linting.yml
  .github/workflows/stale.yml
Labels: Actions

Revert "feat: Add linter for Ruby"
  .github/config/rubocop_linter_action.yml
  .github/workflows/linting.yml
  .github/workflows/stale.yml
Labels: Actions

feat: Add HLint for Haskell
  .github/workflows/linting.yml
  solutions/day09-haskell/part1.hs
  solutions/day09-haskell/part2.hs
Labels: Actions, Solution

feat: Add Shellcheck for bash scripts
  .github/workflows/linting.yml
Labels: Actions

feat: Add actionlint for GH actions
  .github/workflows/linting.yml
Labels: Actions

feat: Add cpplint for C++
  .github/workflows/linting.yml
  solutions/day21-cpp/part1.cpp
  solutions/day21-cpp/part2.cpp
Labels: Actions, Solution

fix: update rules for yamllint
  .github/workflows/labeler.yml
  .github/workflows/linting.yml
  .github/workflows/security.yml
  .github/workflows/stale.yml
  .yamllint
Labels: Actions

feat(wf): add commitlint for commit messages
  .github/workflows/linting.yml
  commitlint.config.js
Labels: Actions

fix: remove commitlint
  .github/workflows/linting.yml
  commitlint.config.js
Labels: Actions

feat(wf): Add Luacheck
  .github/workflows/linting.yml
  solutions/day17-lua/part2.lua
  solutions/day17-lua/test.lua
Labels: Actions, Solution

feat(wf): add flake8 to python linting
  .github/workflows/linting.yml
  pyproject.toml
Labels: Actions

fix: format zig files
  .flake8
  solutions/day01-zig/part1.zig
  solutions/day01-zig/part2.zig
Labels: Solution

feat(wf): add isort to python linting
  .github/workflows/linting.yml
Labels: Actions

feat(wf): add ruff to python linting
  .github/workflows/linting.yml
  pyproject.toml
Labels: Actions

feat(wf): add ktlint for kotlin
  .github/workflows/linting.yml
  solutions/day06-kotlin/Part1.kt
  solutions/day06-kotlin/Part2.kt
Labels: Actions

feat(ws): add eslint
  .github/workflows/linting.yml
  .gitignore
  eslint.config.js
  package-lock.json
  package.json
Labels: Actions

feat(ws): add checkstyle for java
  .github/workflows/linting.yml
Labels: Actions
